<h1 mat-dialog-title>Criar Linha</h1>
<div mat-dialog-content>
  <div layout="row">
  <mat-form-field>
    <input matInput [(ngModel)]="nome" placeholder="Nome">
  </mat-form-field>
  <mat-form-field required>
    <mat-select placeholder="Modal" [(value)]="idmodal">
      <mat-option></mat-option>
      <mat-option *ngFor="let modal of Modais.list" [value]="modal.id">
        {{ modal.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="rota" placeholder="Nome 1ª Rota">
  </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelar()">Cancelar</button>
  <button mat-button mat-dialog-close (click)="criarLinha()">Confirmar</button>
</div>

