<h1 mat-dialog-title>Criar Estacao</h1>
<div mat-dialog-content>
  <div layout="row">
    <mat-form-field>
      <input matInput [(ngModel)]="nome" placeholder="Nome">
    </mat-form-field>
    <mat-form-field required>
      <mat-select placeholder="Modal" [(value)]="idmodal">
        <mat-option></mat-option>
        <mat-option *ngFor="let modal of Modais.list" [value]="modal.id">
          {{ modal.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <table class="table">
        <th scope='col'><input matInput [(ngModel)]="lat" placeholder="Latitude"></th>
        <th scope='col'><input matInput [(ngModel)]="lng" placeholder="Longitude"></th>
    </table>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelar()">Cancelar</button>
  <button mat-button mat-dialog-close (click)="criarEstacao()">Confirmar</button>
</div>
