<h1 mat-dialog-title>Criar Composição</h1>
<div mat-dialog-content>
  <div layout="row">
  <mat-form-field>
    <input matInput [(ngModel)]="codigo" placeholder="Codigo">
  </mat-form-field>
  <mat-form-field required>
    <mat-select placeholder="Modal" [(value)]="idmodal" (change)="selecionarModal(idmodal)">
      <mat-option></mat-option>
      <mat-option *ngFor="let modal of Modais.list" [value]="modal.id">
        {{ modal.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field required>
      <mat-select placeholder="Linha" [(value)]="idlinha">
        <mat-option></mat-option>
        <mat-option *ngFor="let linha of filtradas" [value]="linha.id">
          {{ linha.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelar()">Cancelar</button>
  <button mat-button mat-dialog-close (click)="criarComposicao()">Confirmar</button>
</div>

