<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-1">
            <button mat-icon-button class="btn" [routerLink]="['/linhas']">
                <i class="material-icons">chevron_left</i>
            </button>
        </div>
        <div class="col-5 col-md-5">
            <h3 class="mt-1">{{linha.nome}}</h3>
            <mat-form-field required>
                <mat-select placeholder="Rota">
                  <mat-option *ngFor="let rota of linha.rotas" [value]="rota.nome" >
                    {{ rota.nome }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <!--<h3 class="mt-1">{{pegar nome rota}}</h3> adicionar um icone + para adicionar 
                outra rota e uma seta pra escolher de qual rota ver as informações -->
            <p>Modal: {{linha.modal.nome}}</p>
        </div>
        <div class="col-md-6">
          <button mat-button class="btn btn-danger pull-right" (click)="excluirLinha(linha)">
              Excluir Linha
          </button>
          <button mat-button class="btn btn-info pull-right" (click)="editarLinha(linha)">
              Editar Linha
          </button>
        </div>
      </div>
      <div class="row">
            <div class="col-12 col-md-4 bg-white linhas">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th scope="col">Estação</th>
                            <th scope="col">Endereço</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let linha of linhas">
                                <td>{{linha.nome}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1">
            </div>  
            <div class="col-12 col-md-4 bg-white linhas">
                    <h4 class="text-center p-3">Trajeto</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th scope="col">Estação</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let linha of linhas">
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>     
</div>
