<div class="main-content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-1">
              <button mat-icon-button class="btn" [routerLink]="['/estacoes']">
                  <i class="material-icons">chevron_left</i>
              </button>
          </div>
          <div class="col-5 col-md-5">
            <h3 class="mt-1">{{estacao.nome}}</h3>
            <!-- <p class="font-weight-bold">Endereço:</p> -->
            <p class="font-weight-bold">
                Modal: {{modal.nome}}
            </p>
        </div>
          <div class="col-md-6">
            <button mat-button class="btn btn-danger pull-right" (click)="excluirEstacao(estacao)">
                Excluir Estação
            </button>
            <button mat-button class="btn btn-info pull-right" (click)="editarEstacao(estacao)">
                Editar Estação
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 bg-white linhas">
            <h4 class="text-center p-3">Linhas</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <th scope="col">Nome</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let linha of linhas">
                          <td>{{linha.nome}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
          <div class="col-12 col-md-8">

          </div>
        </div>
    </div>     
</div>
